speech {
    font-family:blue;
    font-size:14px;
    color: black;
  }

  .direction {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color:darkred;
  }
  
  .direction:hover {
    background-color:fuchsia;
    color:brown;
  }
  
  .NORA {
    color:khaki;
  }
  
  .PORTER {
    color:darkmagenta;
  }
  
  .HELMER {
    color:brown;
  }